<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated guideline -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.archsec.interoperability.guideline.Guideline.presentation.GuidelineModelWizardID"
            name="%_UI_GuidelineModelWizard_label"
            class="de.archsec.interoperability.guideline.Guideline.presentation.GuidelineModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GuidelineModelFile.gif">
         <description>%_UI_GuidelineModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated guideline -->
      <editor
            id="de.archsec.interoperability.guideline.Guideline.presentation.GuidelineEditorID"
            name="%_UI_GuidelineEditor_label"
            icon="icons/full/obj16/GuidelineModelFile.gif"
            extensions="guideline"
            class="de.archsec.interoperability.guideline.Guideline.presentation.GuidelineEditor"
            contributorClass="de.archsec.interoperability.guideline.Guideline.presentation.GuidelineActionBarContributor">
      </editor>
   </extension>

</plugin>
